name: Tests

on:
  pull_request:
  push:
    branches: [main]

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        php: ['7.4', '8.0', '8.1', '8.2', '8.3']
        os: [ubuntu-latest]
        include:
          - php: '8.3'
            os: windows-latest
          - php: '8.3'
            os: macos-latest

    name: PHP ${{ matrix.php }} - ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, json
          coverage: none

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist

      - name: Run unit tests
        run: vendor/bin/phpunit --testsuite Unit --testdox

      - name: Run integration tests
        run: vendor/bin/phpunit --testsuite Integration --testdox
